.projectsContainer {
  color: white;
  min-height: calc(100vh - 85px);
  position: relative;
}

.projectsContainer h3 {
  font-size: 1.8rem;
  text-align: start;
  margin: 0;
  padding: 30px 60px;
}

.projectsContainer section {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100% - 200px);
  width: 90%;
  margin: auto;
}

.projectSectionScroll {
  width: 1px;
  position: relative;
  top: -85px;
}

@media only screen and (max-width: 768px) {
  .projectsContainer h3 {
    font-size: 1.1rem;
  }

  .projectsContainer {
    min-height: calc(100vh - 65px);
  }

  .projectSectionScroll {
    top: -65px;
  }
}
