.mainContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;
}
.video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  max-height: 150%;
  z-index: 2;
  object-fit: cover;
}
.mainContainer section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: white;
  z-index: 7;
}

.mainContainer section p {
  font-weight: 600;
  font-size: 4.5vw;
  transition: 0.2;
  filter: drop-shadow(3px 3px 3px rgb(134, 37, 134));
  margin: 15px;
  width: 75%;
  text-align: start;
  font-family: "Source Code Pro", monospace;
}

.contactButton {
  display: block;
  align-self: start;
  padding: 1rem 1.25rem;
  font-family: sans-serif;
  font-size: 1.5vw;
  text-decoration: none;
  text-shadow: -2px 4px 4px #091243, 0 0 10px #00d0ff, inset 1px 1px 1px white;
  color: #1fffff;
  border: 2px solid;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 2px 1px 4px rgba(0, 0, 0, 0.3),
    2px 4px 3px rgba(3, 0, 128, 0.3), 0 0 7px 2px rgba(0, 208, 255, 0.6),
    inset 0 1px 2px rgba(0, 0, 0, 0.6), inset 2px 1px 4px rgba(0, 0, 0, 0.3),
    inset 2px 4px 3px rgba(3, 0, 128, 0.3),
    inset 0 0 7px 2px rgba(0, 208, 255, 0.6);
  animation: flickering 5s infinite;
  transition: 0.3s;
  margin-top: 50px;
  margin-left: 13%;
}

.contactButton:hover {
  scale: 1.05;
}

@keyframes flickering {
  0% {
    border-color: transparent;
    opacity: 0.2;
  }

  2% {
    border-color: #1fffff;
    opacity: 1;
  }

  4% {
    border-color: transparent;
    opacity: 0.2;
  }

  8% {
    border-color: #1fffff;
    opacity: 1;
  }

  28% {
    border-color: #1fffff;
    opacity: 1;
  }

  30% {
    border-color: transparent;
    opacity: 0.2;
  }

  36% {
    border-color: #1fffff;
    opacity: 1;
  }

  100% {
    border-color: #1fffff;
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .mainContainer {
    margin: auto;
  }

  .mainContainer section p {
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
  }

  .contactButton {
    align-self: center;
    margin: 0;
    margin-top: 30px;
    font-size: 1rem;
  }
}

@media only screen and (max-height: 460px) {
  .mainContainer section p {
    font-size: 1.2rem;
  }
  .mainContainer section p button {
    font-size: 1.2rem;
  }
}
