.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainContainer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 700px;
  color: white;
}

.mainContainer section p {
  font-size: 2.4rem;
}

.mainContainer section p a {
  font-size: 2.4rem;
  cursor: pointer;
  transition: 0.3s;
}

.mainContainer section p a:hover {
  color: rgb(175, 102, 243);
}

@media only screen and (max-width: 768px) {
  .mainContainer {
    width: 75%;
    margin: auto;
  }

  .mainContainer section p {
    font-size: 1.6rem;
  }
}

@media only screen and (max-height: 460px) {
  .mainContainer section p {
    font-size: 1.2rem;
  }
  .mainContainer section p button {
    font-size: 1.2rem;
  }
}
