.resumeContainer {
  height: calc(100vh - 85px);
  display: flex;
  flex-direction: column;
  color: white;
}

.resumeSectionScroll {
  width: 1px;
  position: relative;
  top: -85px;
}

@media only screen and (max-width: 768px) {
  .resumeContainer {
    height: calc(100vh - 65px);
  }

  .resumeSectionScroll {
    top: -65px;
  }
}
