.resumeContainer {
  height: calc(100vh - 85px);
  color: white;
}

.resumeSectionScroll {
  width: 1px;
  position: relative;
  top: -85px;
  scroll-snap-align: start;
}

.sectionContainer {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.greatText {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .resumeContainer {
    height: calc(100vh - 65px);
  }

  .resumeSectionScroll {
    top: -65px;
  }

  .greatText {
    width: 100%;
  }
  .sectionContainer {
    flex-direction: column;
    font-size: 0.8rem;
  }
}
