.resumeContainer {
  height: calc(100vh - 85px);
  color: white;
  background-image: url(../../Assets/background2.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.resumeSectionScroll {
  width: 1px;
  position: relative;
  top: -85px;
  scroll-snap-align: start;
}

.sectionContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists {
  padding: 0 30px;
  height: calc(100vh - 85px);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.greatText {
  width: 45%;
  height: calc(100vh - 85px);
  margin: 0;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  background-color: #10121a;
  justify-content: center;
  color: #bdbdbd;
}

.aboutMe {
  color: #911a8b;
  font-weight: bold;
  font-size: 1.5rem;
  width: 70%;
}

.learning {
  font-weight: bold;
  color: white;
  width: 70%;
}

.text {
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .resumeContainer {
    height: calc(100vh - 65px);
  }

  .resumeSectionScroll {
    top: -65px;
  }

  .greatText {
    width: auto;
    height: calc(100vh - 65px);
    font-size: 1rem;
    align-items: center;
  }

  .greatText p {
    padding: 0 30px;
  }
  .sectionContainer {
    flex-direction: column;
  }

  .lists {
    display: none;
  }
}
