.shade {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #00000080;
    z-index: 50;
  }

  .billboard {
    overflow: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 3px;
    max-width: 500px;
  }

  .btnX {
    align-self: end;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .content {
    font-weight: 400;
    color: black;
    padding: 35px;
    padding-bottom: 50px;
  }

  .content h2 {
    margin-top: 0;
    font-size: 1.8rem;
  }

  .content a {
    color: rgb(19, 19, 19);
    transition: .3s;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .content ul {
    padding: 0;
  }

  .content a:hover {
    color: rgb(175, 102, 243);
    border-bottom: 1px solid black;
  }