.app {
  width: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #d8d8d8, #160218, #2a052e, #020202);
}

a {
  text-decoration: none;
  color: white;
}

.app ul {
  list-style: none;
}
