.app {
  width: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #d8d8d8, #160218, #2a052e, #020202);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  max-height: 150%;
  object-fit: cover;
  z-index: 0;
}
