.app {
  width: 100%;
  margin: auto;
  background: linear-gradient(180deg, #090314, #440c49, #3b1b1b);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: white;
}

.app ul {
  list-style: none;
}
